{% extends '::base.html.twig' %}

{% block body %}
    <h2 class="fil_ariane">{{ 'Contact'|upper }}</h2>
    <section class="section" style="margin-bottom: 40px; position: relative; top: -10px;">
      <a href="mailto:documentation.iutna@univ-nantes.fr" style="display: inline-block; margin: auto;">documentation.iutna@univ-nantes.fr</a>


    </section>


{% endblock %}
