.info-table{
    border-collapse: collapse;
}

.info-table th, .info-table td{
    border: 2px solid black;
}

.info-table th{
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px;
}

.info-table td{
    text-align: left;
    font-size: 13px;
    padding: 10px;
}