{% extends '::base.html.twig' %}

{% block stylesheets %}
<style>
    i{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    #auteurs-proposition{
        list-style: none;
        padding: 0;
    }

    #auteurs-proposition li{
        width: 300px;
        background-color: #4e678b;
        font-size: 13px;
        color: white;
        margin-bottom: 5px;
        padding: 10px;
    }

    #auteurs-proposition li:hover{
        cursor: pointer;
    }
</style>
{% endblock %}


{% block body %}
    <h2 class="fil_ariane"><a href="{{ path('administration') }}">Administration</a> > Ajout d'un article > Auteur de l'article</h2>
    <section class="section">
        <h4 style="margin: 0; text-transform: uppercase;">Auteur du nouvel article :</h4>
        <p style="font-size: 13px;">Saisissez l'auteur de votre nouvel article. Si l'auteur est déjà présent en base de données, cliquez sûr son nom dans la liste et validez. Sinon il sera automatiquement ajouté. Si l'article n'a pas d'auteur validez sans saisie.</p>

        <form action="#" method="post" style="margin-top: 30px">
            <input type="text" name="prenom" placeholder="Prénom" class="auteur-input" id="input-prenom" autocomplete="off"/>
            <input type="text" name="nom" placeholder="Nom" class="auteur-input" id="input-nom" autocomplete="off"/>
            <input type="submit" value="Suivant >" style="float: right;">
        </form>

        <i></i>
        <ul id="auteurs-proposition">

        </ul>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            // On cache les div de proposition
            $('i').css("display", "none");
            $('#auteurs-proposition').css("display", "none");


            // Listener des changements de nom/prenom
            $('.auteur-input').each(function(index){
               $(this).on('input', function(){
                    // On ré-initialise le message d'info
                    $('i').css("display", "none").html("");
                    $('#auteurs-proposition').css("display", "none").html("");

                    // On rempli les nom/prenom si ils sont vides
                    var prenom = $('#input-prenom').val();
                    var nom = $('#input-nom').val();

                    if(nom == "" && prenom == ""){
                        return;
                    }

                    if(prenom == "")
                        prenom = "null";

                    if(nom == "")
                        nom = "null";

                    // On génère l'URL de la requête AJAX
                    var url = '{{ path("ajax_recherche_auteur", {'prenom': 'var-prenom', 'nom': 'var-nom'}) }}';
                        url = url.replace("var-prenom", prenom);
                        url = url.replace("var-nom", nom);


                    $.ajax({
                        url: url,
                        data: {
                            format: 'json'
                        },
                        error: function() {

                        },
                        success: function(data) {
                            // Si il n'y a pas de données
                            if(data.length < 1){
                                $('i').css("display", "block").html('Cet auteur n\'existe pas, il sera ajouté dans la base de données.');
                                return;
                            }

                            // Sinon on affiche la liste
                            $('i').css("display", "block").html('Cliquez sur l\'auteur si il est dans la liste :');
                            $('#auteurs-proposition').css("display", "block");
                            $(data).each(function(index){
                                if(!$("#auteur"+this.id).length){
                                    var str = "<li id=\"auteur"+ this.id +"\">" + this.prenom.charAt(0).toUpperCase() + this.prenom.substr(1) + " " + this.nom.toUpperCase() + "</li>";
                                    $('#auteurs-proposition').append(str);
                                }
                            });

                            $('#auteurs-proposition li').each(function(index){
                               $(this).click(function(){
                                    var choix = $(this).html().split(' ', 2);
                                    $('#input-prenom').val(choix[0]);
                                    $('#input-nom').val(choix[1]);
                                    $('#auteurs-proposition').css("display", "none");
                                    $('i').html('L\'auteur sera importé depuis la base de donnée.');
                               });
                           });

                        },
                        type: 'GET'
                    });
               });
           });
        });
    </script>
{% endblock %}
