{% extends '::base.html.twig' %}

{% block stylesheets %}
<style>
    i{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    
    #periodiques-proposition{
        list-style: none;
        padding: 0;
    }
    
    #periodiques-proposition li{
        width: 300px;
        background-color: #4e678b;
        font-size: 13px;
        color: white;
        margin-bottom: 5px;
        padding: 10px;
    }
    
    #periodiques-proposition li:hover{
        cursor: pointer;
    }
</style>
{% endblock %}


{% block body %}
    <h2 class="fil_ariane"><a href="{{ path('administration') }}">Administration</a> > Ajout d'un article > Périodique de l'article</h2>
    <section class="section">
        <h4 style="margin: 0; text-transform: uppercase;">Périodique du nouvel article :</h4>
        <p style="font-size: 13px;">Saisissez le nom du périodique de votre nouvel article. Si le périodique est déjà présent en base de données, cliquez sûr son nom dans la liste et validez. Sinon il sera automatiquement ajouté. </p>
    
        <form action="#" method="post" style="margin-top: 30px">
            <input type="text" name="nom" placeholder="Nom du périodique" id="input-periodique" autocomplete="off"/>
            <input type="submit" value="Suivant >" style="float: right;">
        </form>
        
        <i></i>
        <ul id="periodiques-proposition">
            
        </ul>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            // On cache les div de proposition
            $('i').css("display", "none");
            $('#periodiques-proposition').css("display", "none");
            
            
            // Listener des changements de nom/prenom
            $('#input-periodique').on('input', function(){
                // On ré-initialise le message d'info
                $('i').css("display", "none").html("");
                $('#periodiques-proposition').css("display", "none").html("");
                
                // On rempli les nom/prenom si ils sont vides
                var nom = $(this).val();
                if(nom == ""){
                    return;
                }
    
                
                // On génère l'URL de la requête AJAX
                var url = '{{ path("ajax_recherche_periodique", {'nom': 'var-nom'}) }}';
                    url = url.replace("var-nom", nom);
                    
                
                $.ajax({
                    url: url,
                    data: {
                        format: 'json'
                    },
                    success: function(data) {
                        // Si il n'y a pas de données
                        if(data.length < 1){
                            $('i').css("display", "block").html('Ce périodique n\'existe pas, il sera ajouté dans la base de données.');
                            return;
                        }
                        
                        // Sinon on affiche la liste
                        $('i').css("display", "block").html('Cliquez sur le périodique si il est dans la liste :');
                        $('#periodiques-proposition').css("display", "block");
                        $(data).each(function(index){
                            if(!$("#auteur"+this.id).length){
                                var str = "<li id=\"periodique"+ this.id +"\">" + this.nom + "</li>";
                                $('#periodiques-proposition').append(str);
                            }
                        });
                        
                        $('#periodiques-proposition li').each(function(index){
                           $(this).click(function(){
                                var choix = $(this).html();
                                $('#input-periodique').val(choix);
                                $('#periodiques-proposition').css("display", "none");
                                $('i').html('Le périodique sera importé depuis la base de donnée.');
                           });
                       });
                            
                    },
                    type: 'GET'
                });
           });
        });
    </script>
{% endblock %}